h1= title
p Welcome to #{title}
h1 Testing

for picture in pictures
  img(src=picture.name, class='stream')
  br
  div
    p(class='points') #{picture.points}
    div(class='vote', data='#{picture._id}', points='1')
      p upvote
    div(class='vote', data='#{picture._id}', points='-1')
      p downvote
  br
