extends layout

block append scripts
  include twitter
  script(type='text/javascript')
    $(document).ready(function() {
        $('.vote').click(function() {
          var this_ = $(this);
          $.post('/',
           {_id : $(this).attr('id'), points: $(this).attr('points')},
           function(score) {
             $(this_).siblings('.points').text(score.score);
          });
        });
      });

block contents
  h1= title
  p Welcome to #{title}
  h1 Testing
  for picture in pictures
    img(src=picture.name, class='stream')
    br
    div
      a(href="https://twitter.com/share", class="twitter-share-button", data-via="me", data-url=picture.url(req), data-hashtags="breakit", data-lang="fi") Tweet
      p(class='points') #{picture.points}
      div(class='vote', id=picture._id, points='1')
        p upvote
      div(class='vote', id=picture._id, points='-1')
        p downvote
    br