div(class='post fourcol')
  p picture is on page #{page}
  if(picture.headline)
    h1=picture.headline
    if(picture.location_name)
      h3 Happened near #{picture.location_name}
    p #{picture.distance} away from you
    p #{picture.timeSince}  ago
  else
    h1 HEADLINE OF PICTURE
    p PICTURE LOCATION
    p #{picture.distance} away from you
    p #{picture.timeSince}  ago
  img.stream(src=picture.name)
  div.story 
    p=picture.story
    //p(class='votePoints') #{picture.points}
    //a(href="https://twitter.com/share", class="twitter-share-button", data-via="me", data-url=picture.url(req), data-hashtags="breakit", data-lang="fi") Tweet
