div(class='post fourcol')
  if(picture.headline)
    div.headline
      p=picture.headline
  if(picture.location_name)
    div.location
      img(src='/images/clock.png') 
      p #{picture.timeSince}  #{picture.distance} away @ #{picture.location_name}
  else
    div.headline
      p HEADLINE OF PICTURE
    div.location
      img(src='/images/clock.png') 
      p #{picture.timeSince}  #{picture.distance} away @ #{picture.location_name}
  img.stream(src=picture.name)
  div.story 
    p=picture.story
  div.comments
    a(href='/picture/'+'#{picture._id}')
      p #{picture.comments.length} comments
    //p(class='votePoints') #{picture.points}
    //a(href="https://twitter.com/share", class="twitter-share-button", data-via="me", data-url=picture.url(req), data-hashtags="breakit", data-lang="fi") Tweet
