div(class='post fourcol')
  if(picture.headline)
    div.headline
      p=picture.headline
  if(picture.location_name)
    div.location
      img(src='/images/clock.png') 
      p #{picture.timeSince}  #{picture.distance} away @ #{picture.location_name}
  else
    div.headline
      p HEADLINE OF PICTURE
    div.location
      img(src='/images/clock.png') 
      p #{picture.timeSince}  #{picture.distance} away @ #{picture.location_name}
  div.stream
    img(src=picture.name)
  div.footer_bar
    div.controls
      img(src='/images/up.png')
      img(src='/images/down.png')
      a(href='/picture/?id='+'#{picture._id}'+'&time='+'#{picture.timeSince}'+'&dist='+'#{picture.distance}'+'&loc='+'#{picture.location_name}')
        img(src='/images/comments.png', class='down')
      img(src='/images/share.png')
  div.comment 
    a(href='/picture/?id='+'#{picture._id}'+'&time='+'#{picture.timeSince}'+'&dist='+'#{picture.distance}'+'&loc='+'#{picture.location_name}') #{picture.comments.length}
  div.story
    p.story=picture.story
      
    //p(class='votePoints') #{picture.points}
    //a(href="https://twitter.com/share", class="twitter-share-button", data-via="me", data-url=picture.url(req), data-hashtags="breakit", data-lang="fi") Tweet

