div(class='post threecol')
  div(class='topDiv')
    div(class='leftDiv')
      div(class='picDiv')
        img(src='/images/user.png')
      div(class='nameDiv')
        p Name
      div(class='headlineDiv')
      if(picture.headline)
        p=picture.headline
      else
        p headline
    div(class='rightDiv')
      div(class='timeDiv')
        img(src='/images/clock.png')
        p=picture.timeSince
      div(class='distanceDiv')
        p=picture.distance
      div(class='addressDiv')
        img(src='/images/location.png')
        p=picture.location_name
  div.stream
    img(src=picture.name)
  div.footer_bar
    div.controls
      img(src='/images/up.png')
      img(src='/images/down.png')
      a(href='/picture/?id='+'#{picture._id}'+'&time='+'#{picture.timeSince}'+'&dist='+'#{picture.distance}'+'&loc='+'#{picture.location_name}')
        img(src='/images/comments.png', class='down')
      img(src='/images/share.png')
  div.comment_number 
    a(href='/picture/?id='+'#{picture._id}'+'&time='+'#{picture.timeSince}'+'&dist='+'#{picture.distance}'+'&loc='+'#{picture.location_name}') #{picture.comments.length}
  div.story
    p.story=picture.story
      
